
/* navigation bar css starts: */
/* .topnav {
    left: 0;
    background-color: #333;
    overflow: hidden;
    width: 100%;
    position: fixed;
    transition: top 0.5s;
  }

  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  } */

  /*new topnav starts here: */

  /*new topnv ends here: */

  .homepage .topnav{
    background: rgba(28,45,58,.9);
  }

  .topnav {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    display: block;
    left: 0;
    background: #1c2d3a;
  }
  body {
    margin: 0;
}
  .topnav > .innerTopNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    height: 56px;
    margin: 0 auto;
    padding: 0 10px;
}
.topnav > .innerTopNav > .logo-wrapper{
    width: 300px;
}

.topnav>.innerTopNav> .logo-wrapper >.logo {
    display: block;
    width: 150px;
    height: 40px;
    background: url(../images/dimiparts-comb-logo.png) no-repeat 0 0;
    background-size: 100%;
}

.topnav> .innerTopNav > .tab{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 40px;

}

.topnav> .innerTopNav > .tab > .redemption-car{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 49px;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 2px;
    background: rgba(0,138,238,.15);
    border-radius: 3px 3px 0 0;
    text-align: center;
}

.topnav> .innerTopNav > .tab > .redemption-car::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px 3px 0 0;
    transition: all .25s ease;
}

.topnav> .innerTopNav > .tab > .redemption-car:hover::before{
    content: '';
    background: rgba(255,255,255,.15);
}

.topnav> .innerTopNav > .tab > .redemption-car > .icon{
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    object-fit: cover;
    margin-right: 7px;
    background: url(../images/car-icon-header-nav.ico) no-repeat center center;
}

.topnav> .innerTopNav > .tab > .redemption-car > .text{
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #008aee;
    letter-spacing: 0;
    line-height: 13px;
    font-family: roboto,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.topnav> .innerTopNav > .tab > .redemption-car::after{
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    background: #008aee;
    border-radius: 3px 3px 0 0;
    margin-top: -3px;
}
.topnav > .innerTopNav > .elements {
    flex: 1;
    text-align: right;
}
  .topnav > .innerTopNav > .elements > .element.phone{
    margin-right: 16px;
}
a {
      text-decoration: none;
}

.topnav>.innerTopNav .elements .element {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.topnav>.innerTopNav .elements .element.phone>.icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    background: white url(../images/phone-icon.png) no-repeat center center;
    border-radius: 50%;
    transition: background-color .5s;
    transition: transform .4s;

}
.topnav>.innerTopNav .elements .element.login{
    margin-right: 12px;
    cursor: pointer;
}

.topnav>.innerTopNav .elements .element.phone>.icon:hover {
    transform: scale(1.055,1.055);
    background-color: gainsboro;
}

.topnav>.innerTopNav .elements .element.login>.icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    background: white url(../images/user-icon.png) no-repeat center center;
    border-radius: 50%;
    transition: background-color .5s;
    transition: transform .4s;
}

.topnav>.innerTopNav .elements .element.cart {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background: #008aee url(../images/shopping-cart.png) no-repeat center center;
    border-radius: 50%;
    color: white;
}

.topnav>.innerTopNav .elements .element.login>.text {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0;
    line-height: 13px;
    font-weight: 500;
}

.topnav>.innerTopNav .elements .element.login>.icon:hover {
    transform: scale(1.055,1.055);
    background-color: gainsboro;
}

.topnav>.innerTopNav .elements .element.cart:hover {
    transform: scale(1.055,1.055);
}

.topnav>.innerTopNav .elements .element.phone>.icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all .25s ease;
}

.topnav>.innerTopNav .elements .element.phone>.text {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0;
    line-height: 13px;
    font-weight: 500;
}
/* navigation bar css ends: */
/* home page grid css starts: */

.homepage-grid{
    position: relative;
    padding-top: 0;
    max-width: 1220px;
    margin: 0 auto;
    padding: 60px 20px;
    margin-top: 50px;
}

.homepage-font-picture{
    position: relative;
    height: 570px;
    margin-top: -56px;
    background-size: auto 100%;
    background: url(../images/homepage-banner.jpg) top center;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    margin-top: -56px;
}

.homepage-font-picture::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 160px;
    background: linear-gradient(to bottom,rgba(243,243,243,0),#F3F3F3);
}


.homepage-wrapper{
    margin-top: -455px;
    background: #f3f3f3;

}
/* home page grid css ends: */

/* side nav css starts: */

.sidenav{
    margin-top:20px;
    display: block;
    float: left;
    width: 280px;
    background: #fff;
    border: 1px solid #008aee;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgb(0 138 238 / 15%);
    margin-left: 30px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    margin-right: 14px;
}

.category-sidenav-header{
    margin-bottom: 20px;
    padding: 0 20px;
    text-transform: uppercase;
    color: #1c2d3a;
    font-family: 'exo 2',sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    padding-top: 8px;
    margin-top: 10px
}
.homepage-grid .sidenav .search{
    margin-bottom: 20px;
    padding: 0 20px;
}

.homepage-grid .sidenav .search .search-field{
    position: relative;
}

.homepage-grid .sidenav .search .search-field input{
    width:190px;
    padding: 16px 40px 15px 10px;
    background: #fff;
    border: 1px solid rgba(0,138,238,.5);
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgb(0 138 238 / 15%);
    font-size: 14px;
    color: #1c2d3a;
    letter-spacing: 0;
    line-height: 17px;
    font-weight: 500;
    transition: none;
}

.homepage-grid .sidenav .search .search-field::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/icon-search-dark.svg) no-repeat center;
    opacity: .5;
    transform: translateY(-50%);
    cursor: pointer;
}

.homepage-grid .sidenav .categories .category{
    position: relative;
    margin-top: -1px;
    padding: 12px 35px 11px 10px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: none;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
}



.sidenav>.categories>.category:hover{
    border-color: #008aee;
    box-shadow: 0 0 0 2px rgb(0 138 238 / 15%);
}
@media screen and (min-width: 741px){
    .homepage-grid .sidenav .categories .dropdown .children{
        display: flex;
    }
}

@media screen and (min-width: 741px){
    .sidenav .dropdown .children .column{
        width: 240px;
    }
}

@media screen and (min-width: 741px){
    .sidenav>.categories>.category>.dropdown>.children>.separator{
        width: 1px;
        margin: 0 30px;
        background: #e5e5e5;
    }
}



.sidenav>.categories>.category:after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images//icons8-chevron-right-30.png) no-repeat center;
    opacity: .5;
    transform: translateY(-50%);
    transition: all .2s ease-in-out;
}

.sidenav>.categories>.category:before{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 10px;
    display: block;
    width: 248px;
    height: 1px;
    background: #e5e5e5;
}
@media screen and (min-width: 741px){
    .sidenav>.categories>.category:hover:before{
        top: 0;
    right: -4px;
    bottom: auto;
    left: auto;
    z-index: 3;
    width: 8px;
    height: 100%;
    background: #fff;
    }
}

.sidenav>.categories>.category>a{
    display: block;
    position: relative;
    text-decoration: none;
}
.sidenav>.categories>.category:hover>a > span{
    color: #008aee
}
/* Edit here */
.homepage-grid .sidenav .categories .category:hover:after{
    background: url(../images//icons8-chevron-right-30-blue.png) no-repeat center;
    opacity: 1;
}

.homepage-grid:after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}

.sidenav>.categories>.category>a img{
    display: inline-block;
    width: 39px;
    height: 29px;
    margin-right: 2px;
    vertical-align: middle;

}
.categories{
    padding: 0 20px 0 10px;
}

.sidenav>.categories>.category>a span{
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 50px);
    font-size: 13px;
    width: 100%;
    color: #1c2d3a;
    letter-spacing: 0;
    line-height: 16px;
    font-family: roboto, sans-serif;
    font-weight: 500;

}

.dropdown{
    display: none;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 2;
    padding: 30px 25px;
    background: #fff;
    border: 1px solid #008aee;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgb(0 138 238 / 15%);
    transform: translateX(100%);
}

/* Important !*/
.sidenav .categories .category:hover .dropdown  {
    display: block;
}

.sidenav .categories .category .dropdown .children .column .category-child:hover{
    color: #008aee;
}
@media screen and (min-width: 741px){
    .sidenav .categories .category .dropdown .children .column .category-child{
        display: block;
        margin-bottom: 15px;
        text-decoration: none;
        font-size: 13px;
        color: #1c2d3a;
        letter-spacing: 0;
        line-height: 16px;
        font-family: roboto,sans-serif;
        font-weight: 400;
        transition: all .25s ease;
    }

}

.title-small-dark-strong {
    color: #1c2d3a;
    font-family: 'exo 2',sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 20px;
}


.sidenav > .banners {
    padding: 30px 20px 0;
    display: block;
    border-radius: 3px;
    overflow: hidden;
}

.sidenav  .banners  .desktop{
    display: block;
    width: 100%;
    transition: transform .20s ease-in-out;
}

.sidenav  >.banners:hover .desktop{
    transform: scale(1.015,1.015);
}


/* side nav css ends: */


/* aboutUsPage css starts: */


#aboutUsPage {
    z-index: 9;
    margin-top: 30px;
    position:relative;
}
.aboutUsHeader{
    position: relative;
    text-align: center;
    background: url(../images/titlebar-aboutus.jpg) no-repeat center center;
    display: block;
    padding: 18px 0;    
    height: 20px;
    margin-top: 10px;
}

.aboutUsHeader>.container>.h4{
    text-transform: uppercase;
    float: left;
    font-size: 30px;
    font-family: roboto,sans-serif;
    line-height: 24px;
    margin-left: 60px;
}

.aboutUsHeader>.container>.links a{
    font-family: roboto,sans-serif;
    margin-right: 4px;
    color: #1c2d3a;
    text-decoration: none;
    
}
.aboutUsHeader>.container>.links{
    float: right;
    margin-right: 58px;
}

.aboutUsHeader>.container>.links a:hover{
    border-bottom: 1px solid #008aee;
}

.aboutUsHeader>.container>.links i{
    margin-right: 4px;
}

.aboutUsHeader>.container>.links span{
    font-size: 19px;
    color: #dcdcdc;
    margin: 0px 10px;
}
.aboutUsContent{
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* aboutUsPage css end: */
/* Footer css starts: */


#footer{
    background: url(../images/footer-img.jpg) no-repeat center top;
    left:0;
    color: rgba(255,255,255,0.6);
    padding-top: 78px;
    font-size: 13px;
    flex-flow: row wrap;
    display: inline-block;
    width: 100%;
    position: absolute;
}

#footer .footerAbout{
    float: left;
    width: 31%;
    margin-left: 60px;
    padding-bottom: 20px;
    margin-right: 30px;
}   
.footerAbout .p{
    font-size: 13px;
    line-height: 24px;
    max-height: 120px;
    overflow: hidden;
    margin-bottom: 30px;
    font-family: roboto,sans-serif;
}

.footerAbout .map .imageMap{
    width: 300px;
}

.footerContacts{
    float: left;
    width: 22%;
    padding-right: 2%;
}




.footerContacts .title_h4{
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0px;
    color:white;
    text-align: center;
}
.footerContacts .content ul li{
    list-style: none;
}   
.footerContacts .content .email{
    text-decoration: none;
    color: #AAA3A0;
    font-size: 15px
}

.footerContacts .footer-loc{
    font-size: 15px;
    margin-top: 0px;
}
.footerContacts .content h6{
    font-size: 15px;
    color: #fff;
    font-family: sans-serif;
    margin-bottom: 4px;
    margin-top: 18px;
}


.footerContacts .tel-num{
    font-size: 15px;
    margin-top:0px;
}

.footerContacts .contactsSocialMedia{
    text-align: center;
}

.footerContacts .btn{
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #f1f1f1 ;
    margin: 5px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}

.footerContacts .btn i{
    line-height: 70px;
    font-size: 26px;
    transition: 0.2s linear;
}

.footerContacts .btn:hover .fa-youtube{
    transform: scale(1.3);
    color: #FF0000;
}


.aboutUsPage{
    font-size: 22px;
    text-decoration: none;
    color: #fff;
}

.aboutUsPage-pos{
    text-align: left;
    padding-left: 40px


}

.aboutUsPage:hover{
    text-decoration: underline;

}

#footer .footerAbout .content .map{
    margin-bottom: 20px;
}

.footerContacts .btn:hover .fa-instagram{
    transform: scale(1.3);
    color: #8a3ab9;
}

.footerContacts .btn:hover .fa-facebook-f{
    transform: scale(1.3);
    color: #4267B2;
}


.footerContacts .btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.footerContacts .btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

.footerContacts .content .footer-logo{
    width: 120px;
    height: 98px;
    background-size: cover;
    margin-bottom: -15px;
    text-align: left;
    margin-left:20px;
    margin-right: auto;
    display: inline-block;
}

.footerContacts .content .logo a{
    width: 0;
    height: 0;
    text-align: left;
    transform: translateX(-50%);
    left: 51%;
    position: absolute;

}


@keyframes aaa{
    0%{
        left: -110%;
        top: 90%;
    }50%{
        left: 10%;
        top: -30%;
    }100%{
        top: -10%;
        left: -10%;
    }
}

.footer_query{
    float: left;
    width: 22%;
    padding-left: 55px;
    padding-right: 2%;
}

.footer_query .title_h4{
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0px;
    color: white;
    text-align: center;
}

.footer_query .queryForm{
    padding-top: 30px;
}

.footer_query .queryForm .in_email{
    width: 100%;
    height: 30px;
    margin-bottom: 18px;
}

.footer_query .queryForm .in_telephone{
    width: 100%;
    height: 30px;
    margin-bottom: 18px;
}

.footer_query .queryForm .in_firm{
    width: 100%;
    height: 30px;
    margin-bottom: 18px;
}

.footer_query .queryForm .in_text{
    width: 100%;
    height: 30px;
    margin-bottom: 18px;
}

#footer .container .modules .footerContacts .content .logo{
    display: inline-block;
    height: 84px;
    width: 84px;
    text-align: left;

}

.footer-logo{
    transition: transform .5s ease-in-out;
    transform: scale(1.0,1.0);
}

.footer-logo:hover{
    transform: scale(1.12,1.12);
    transition: transform .4s ease-in-out;
}

/* Footer css ends: */


.headerModel::before{

    content: ' ';
    background-color: #008aee;
    display: block;
    width: 5px;
    height: 45px;
    margin-right:10px;

} 

.headerModel{
    display: flex;
    grid-column: 1/-1!important;
    border: 2px solid #008aee;
    margin: 0;
    }

.homePageModel{
    float: right;
    max-width: calc(100% - 400px);
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 20px 30px;
    display: grid;
    grid-template-columns: 250px calc(100% - 280px);
    grid-gap: 30px;
    grid-template-areas: 'content_data content_data';
}

.homePageModel>.brandGrid{
    grid-template-columns: repeat(3,1fr);
}

/* brands css starts here */
.content-data-item {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    padding: 15px;
    border: 2px solid #e5e5e5;
    transition: background-color .5s;
}

.content-data{
    grid-area: content_data;
    display: grid;
    background-color: white;
    grid-template-columns: repeat(3,1fr);
}

.grid{
    position: relative;
}

picture.lozad>img {
    max-width: 100%;
    height: 130px;
    object-fit: contain;
    margin-bottom: 15px;
}

.content-data-4-columns {
    grid-template-columns: repeat(5,1fr);
}

.content-data-title {
    text-align: center;
    color: black;
}
picture img {
    width: 100%;
}
.content-data-item:hover{
    border-color: #008aee;
    background-color: gainsboro;
}

.content-data-item:hover>.content-data-description>.content-data-title{
    color: #008aee;
}


/* brands css ends here */



/* benefits starts here */


.benefits-wrapper>.inner {
    padding: 40px 20px;
    max-width: 1220px;
    margin: 0 auto;
    padding: 40px 20px;
}

.benefits ul li {
    display: inline-block;
    vertical-align: top;
    max-width: calc(25% - 45px);
    width: 100%;
    margin-top: 30px;
    margin-left: 40px;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;


}


ul, ol {
    list-style: none;
}

.benefits ul li>img {
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;

}



.benefits ul li>p:first-of-type {
    margin-bottom: 7px;
    color: #34393c;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}




.benefits ul li>p {
    width: calc(100% - 76px);
    float: right;
    color: #777;
    font-family: roboto,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

.benefits ul {
    margin-top: -30px;
    margin-left: -40px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
.benefits{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

/* benefits ends here */

/*login page starts here */

.content-login, .content-register{
    width: 340px;
    margin: 0 auto;
    background: #f3f3f3;
    padding: 20px 10px;
}

.content-login .page-member-login .main .inner .inner-inner, .content-register .page-member-register .main .inner-inner{
    padding: 30px 30px 25px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 15px -10px rgb(0 0 0 / 30%);
}

.content-login .page-member-login .main .inner .inner-inner .title, .content-register .page-member-register .main .inner .inner-inner .title{
    margin: 20px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 21px;
}

.content-login > .page-member-login >.main >.inner >.inner-inner >.member-form fieldset{
    margin-bottom: 10px;
}

.field-label{
    position: relative;
    display: block;
    color: #777;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 17px;
}

.field-label span:first-child{
    top: 17px;
    display: block!important;
    position: absolute;
    left: 16px;
    color: #999;
    background-color: #fff;
    z-index: 10;
    transition: top 150ms ease-out,left 150ms ease-out,background 150ms ease-out,font-size 150ms ease-out;
}

.field-label span.required-field:after {
    content: '*';
    display: inline-block;
    margin-left: 2px;
}

.member-form input[type=text], .member-form input[type=password]{
    width: 240px;
    height: 44px;
    padding: 0 15px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #1c2d3a;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 14px;
}

.content-register > .page-member-register > .main > .inner > .inner-inner > .member-form > .form-horizontal > .agreement{
    margin-top: 20px;
}
.content-register > .page-member-register > .main > .inner > .inner-inner > .member-form > .form-horizontal > .agreement > .field-label >.required-field{
    margin-left: 0;
    margin-top: 2px;
    color: #1c2d3a;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
}

.content-register > .page-member-register > .main > .inner > .inner-inner > .member-form > .form-horizontal > .agreement > .field-label >.required-field a{
    color: #008aee;
}

.field-label.checkbox-label {
    display: inline-block;
}

.field-label.checkbox-label {
    position: relative;
    cursor: pointer;
}

.field-label.checkbox-label input[type=checkbox]:checked:before {
    background: #008aee;
    border-color: #008aee;
}

.field-label.checkbox-label input[type=checkbox]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    transition: all .36s ease-in-out;
}
.field-label.checkbox-label input[type=checkbox]:checked::after {
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/icon-check-white-small.svg);
}

.field-label.checkbox-label input[type=checkbox]:after {
    content: '';
    display: none;
}

*:before, *:after {
    box-sizing: border-box;
}

label {
    cursor: default;
}

.content-login > .page-member-login > .main > .inner > .inner-inner > .member-form > .form-horizontal > .login-btn,
.content-register > .page-member-register > .main > .inner > .inner-inner > .member-form > .form-horizontal > .register-btn
{
    margin-top: 20px;
}

.content-login > .page-member-login > .main > .inner > .inner-inner > .member-form > .form-horizontal > .login-btn > .button-animate-login,
.content-register > .page-member-register > .main > .inner > .inner-inner > .member-form > .form-horizontal > .register-btn > .button-animate-register
{
    width: 275px;
    position: relative;
    overflow: hidden;
    background: #008aee;
    border: 1px solid #008aee;
    display: flex;
    height: 48px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.content-login > .page-member-login > .main > .inner > .inner-inner > .member-form > .form-horizontal > .login-btn > .button-animate-login:before,
.content-register > .page-member-register > .main > .inner > .inner-inner > .member-form > .form-horizontal > .register-btn > .button-animate-register:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .25s ease;
    left: 0;
    top: 0;
}

.content-login > .page-member-login > .main > .inner > .inner-inner > .member-form > .form-horizontal > .login-btn > .button-animate-login span,
.content-register > .page-member-register > .main > .inner > .inner-inner > .member-form > .form-horizontal > .register-btn > .button-animate-register span
{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0;
    text-transform: uppercase;
}


.content-login > .page-member-login > .main > .inner > .inner-inner > .member-form > .forgotten-password{
    margin-top: 10px;
    text-align: center;
}

.content-login > .page-member-login > .main > .inner > .inner-inner > .member-form > .forgotten-password a{
    color: #008aee;
}

.content-login > .page-member-login > .main > .inner > .inner-inner > .separator,
.content-register > .page-member-register > .main > .inner > .inner-inner > .separator{
    position: relative;
    padding: 15px 0;
    text-align: center;
}

.content-login > .page-member-login > .main > .inner > .inner-inner > .separator:before,
.content-register > .page-member-register > .main > .inner > .inner-inner > .separator:before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    top: 50%;
}

.content-login > .page-member-login > .main > .inner > .inner-inner > .separator span,
.content-register > .page-member-register > .main > .inner > .inner-inner > .separator span
{
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    background: #fff;
    color: #777;
    font-weight: 400;
}

.content-login > .page-member-login > .main > .inner > .inner-inner > .media-login >.facebook-login-button,
.content-register > .page-member-register > .main > .inner > .inner-inner > .media-login >.facebook-login-button
{
    background: #4267b2;
    display: block;
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
    padding: 14px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 0;
}

.content-login  .page-member-login  .main  .inner  .inner-inner  .media-login > .facebook-login-button:before,
.content-register  .page-member-register  .main  .inner  .inner-inner  .media-login > .facebook-login-button:before
{
    position: relative;
    background: url(../images/icon-facebook-white.svg);
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.content-login  .page-member-login  .main  .inner  .inner-inner  .media-login > .facebook-login-button > span,
.content-register  .page-member-register  .main  .inner  .inner-inner  .media-login > .facebook-login-button > span
{
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 14px;
    text-transform: uppercase;
}


.content-login > .page-member-login > .main > .inner > .inner-inner > .media-login >.google-login-button,
.content-register > .page-member-register > .main > .inner > .inner-inner > .media-login >.google-login-button
{
    background: #db4437;
    display: block;
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
    padding: 14px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 0;
}

.content-login  .page-member-login  .main  .inner  .inner-inner  .media-login > .google-login-button:before,
.content-register  .page-member-register  .main  .inner  .inner-inner  .media-login > .google-login-button:before
{
    position: relative;
    background: url(../images/icon-google-white.svg);
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.content-login  .page-member-login  .main  .inner  .inner-inner  .media-login > .google-login-button > span,
.content-register  .page-member-register  .main  .inner  .inner-inner  .media-login > .google-login-button > span
{
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 14px;
    text-transform: uppercase;
}

.content-login  .page-member-login  .main  .inner  .inner-inner  .not-registered-user,
.content-register  .page-member-register  .main  .inner  .inner-inner  .existing-user
{
    text-align: center;
}

.content-login  .page-member-login  .main  .inner  .inner-inner  .not-registered-user .not-registered-user-text,
.content-register  .page-member-register  .main  .inner  .inner-inner   .existing-user .existing-user-text
{
    color: #1c2d3a;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
}

.content-login  .page-member-login  .main  .inner  .inner-inner  .not-registered-user a,
.content-register  .page-member-register  .main  .inner  .inner-inner .existing-user a
{
    color: #008aee;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
}

.content-login  .page-member-login  .main  .inner .back-to-site,
.content-register  .page-member-register  .main  .inner .back-to-site
{
    display: block;
    margin: 25px 0;
    text-align: center;
}

.text-body-dark {
    color: #1c2d3a;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
}


.content-login  .page-member-login  .main  .inner .back-to-site .back-to-site-icon,
.content-register  .page-member-register  .main  .inner .back-to-site .back-to-site-icon
{
    width: 16px;
    height: 16px;
    margin-right: 7px;
    background: url(../images/back-to-site-icon.svg);
}

.content-login  .page-member-login  .main  .inner .back-to-site span,
.content-register  .page-member-register  .main  .inner .back-to-site span
{
    display: inline-block;
    vertical-align: middle;
}

.content-login  .page-member-login  .main  .inner  .inner-inner .logo, .content-register .page-member-register .main .inner .inner-inner .logo{
    display: block;
    width: 218px;
    height: 36px;
    margin: 0 auto;
    background: url(../images/dimiparts-comb-logo.jpg) no-repeat 0 0;
    margin-left:50px;
}

.content-login  .page-member-login  .main  .inner  .inner-inner .member-form input[type=text]:focus, .content-login  .page-member-login  .main  .inner  .inner-inner .member-form input[type=password]:focus,
.content-register  .page-member-register  .main  .inner  .inner-inner .member-form input[type=text]:focus, .content-register  .page-member-register  .main  .inner  .inner-inner .member-form input[type=password]:focus
{
    outline: none !important;
    padding: 0 14px !important;
    border-color: transparent;

    border: 2px solid #008aee !important;
}

/* .content-login  .page-member-login  .main  .inner  .inner-inner .member-form input[type=text]:focus, .content-login  .page-member-login  .main  .inner  .inner-inner .member-form input[type=password]:focus{
    padding: 0 14px;
    border: 3px solid #008aee;
} */

.field-label.focused span:first-child{
    top: -13px;
    left: 8px;
    font-size: 12px;
    background: white;
    padding: 8px;
    z-index: 50;
    padding-bottom: 1px;
}

.login-wrap, .register-wrap{
    background: #f3f3f3;
}

/*login, register page ends here */


/*sell your car page starts here */
.buyout-car-wrapper .header{
    padding: 15px 20px;
    text-align: center;
}

.buyout-car-wrapper .header .title{
    color: #1c2d3a;
    font-family: 'exo 2',sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 32px;
}

.buyout-car-wrapper .buyout-car-content{
    max-width: 1220px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.buyout-car-wrapper .buyout-car-content .buyout-info{
    padding: 30px 0 65px;
    text-align: center;
}

.buyout-car-wrapper .buyout-car-content .buyout-info .buyout-image{
    margin-bottom: 30px;
    display: inline-block;
}

.buyout-car-wrapper .buyout-car-content .text-buyout{
    max-width: 780px;
    margin: 0 auto;
}

.buyout-car-wrapper .buyout-car-content .button-evaluation{
    max-width: 350px;
    margin: 20px auto 35px;
    padding: 0 20px;
    background: #008aee;
    border: 1px solid #008aee;
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 64px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

.buyout-car-wrapper .buyout-car-content .button-evaluation::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .25s ease;
    left: 0;
    top: 0;
}

.buyout-car-wrapper .buyout-car-content .button-evaluation .icon{
    display: inline-block;
    min-width: 24px;
    width: 24px;
    min-height: 24px;
    height: 24px;
    margin-right: 7px;
    background: url(../images/bank-ico.png);
    color: #fff;
}
/*sell your car page ends here */
