
/* navigation bar css starts: */
.topnav {
    top: 0;
    left: 0;
    background-color: #333;
    overflow: hidden;
    width: 100%;
    position: fixed;
    transition: top 0.5s;

  }

  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

/* navigation bar css ends: */
/* side nav css starts: */

.sidenav{
    margin-top: 20px;
    display: block;
    float: left;
    width: 250px;
    background: #fff;
    border: 1px solid #008aee;
    margin-left: 90px;
}

.category-sidenav-header{
    margin-bottom: 20px;
    padding: 0 20px;
    text-transform: uppercase;
    color: #1c2d3a;
    font-family: 'exo 2',sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    padding-top: 8px;
}
.sidenav>.categories>.category{
    position: relative;
    padding: 12px 35px 11px 10px;
    cursor: pointer;
}

.sidenav>.categories>.category:after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images//icons8-chevron-right-30.png) no-repeat center;
    opacity: .5;
}

.sidenav>.categories>.category:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 10px;
    display: block;
    width: 248px;
    height: 1px;
    background: #e5e5e5;
}
.sidenav>.categories>.category>a{
    display: block;
    position: relative;
}
.sidenav>.categories>.category>a img{
    display: inline-block;
    width: 39px;
    height: 29px;
}

.sidenav>.categories>.category>a span{
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 50px);
    font-size: 13px;
    color: #1c2d3a;
    letter-spacing: 0;
    line-height: 16px;
    font-family: roboto, sans-serif;
    font-weight: 600;
}


.dropdown{
    display: none;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 2;
    padding: 30px 25px;
    background: #fff;
    border: 1px solid #008aee;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgb(0 138 238 / 15%);
    transform: translateX(100%);
}


.category:hover .dropdown{
    
    display: block;
}


.column>.category-child{
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 13px;
    color: #1c2d3a;
    letter-spacing: 0;
    line-height: 16px;
    font-family: roboto,sans-serif;
    font-weight: 400;
    transition: all .25s ease;
}


.title-small-dark-strong {
    color: #1c2d3a;
    font-family: 'exo 2',sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 20px;
}
.category-child:hover {
    color: #008aee;
}

/* side nav css ends: */


/* aboutUsPage css starts: */
.aboutUsHeader{
    position: relative;
    text-align: center;
    background: url(../images/titlebar-aboutus.jpg) no-repeat center center;
    display: block;
    padding: 18px 0;

    height: 20px;
}

.aboutUsHeader>.container>.h4{
    text-transform: uppercase;
    float: left;
    font-size: 30px;
    font-family: roboto,sans-serif;
    line-height: 24px;
    margin-left: 60px;
}

.aboutUsHeader>.container>.links a{
    font-family: roboto,sans-serif;
    margin-right: 4px;
    color: #1c2d3a;
    text-decoration: none;
    
}
.aboutUsHeader>.container>.links{
    float: right;
    margin-right: 58px;
}

.aboutUsHeader>.container>.links a:hover{
    border-bottom: 1px solid #008aee;
}

.aboutUsHeader>.container>.links i{
    margin-right: 4px;
}

.aboutUsHeader>.container>.links span{
    font-size: 19px;
    color: #dcdcdc;
    margin: 0px 10px;
}
.aboutUsContent{
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* aboutUsPage css end: */
/* Footer css starts: */


#footer{
    background: url(../images/footer-img.jpg) no-repeat center top;
    color: rgba(255,255,255,0.6);
    padding-top: 78px;
    font-size: 13px;
}

#footer .footerAbout{
    width: 30%;
    margin-left: 60px;
    padding-bottom: 20px;
}   
.footerAbout .p{
    font-size: 13px;
    line-height: 24px;
    max-height: 120px;
    overflow: hidden;
    margin-bottom: 30px;
    font-family: roboto,sans-serif;
}

/* Footer css ends: */
